{% extends page.has_script_or_style|yesno:"layouts/no-vue.html,layouts/default.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<section
  class="small-section bg-dark-alfa-50 light-content"
  {% spaceless %}
  {% if page.hero_image %}
  {% image page.hero_image original as hero_image %}
  data-background="{{ hero_image.url }}"
  {% elif page.hero_image_url %}
  data-background="{{ page.hero_image_url }}"
  {% endif %}
  {% endspaceless %}
  id="home"
>
  <div class="container relative">
    <div class="row">
      <div class="col-md-8">
        <div class="wow fadeInUpShort mb-2" data-wow-delay=".1s">
          {% include "components/breadcrumbs.html" %}
        </div>

        <div class="wow fadeInUpShort" data-wow-delay=".1s">
          <h1 class="hs-line-7 mb-20 mb-xs-10">{{ page.title }}</h1>
        </div>

        {% if page.subtitle %}
        <div class="wow fadeInUpShort" data-wow-delay=".2s">
          <p class="hs-line-6 opacity-075 mb-20 mb-xs-0">
            {{ page.subtitle }}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Divider -->
<hr class="mt-0 mb-0 white"/>
<!-- End Divider -->

{% if page.body %}
<div class="page-body">
  {{ page.body }}
</div>
{% endif %}

{% endblock content %}
